<article id="lesson">
  <h1>New Lesson</h1>

  <%= render 'form', lesson: @lesson, form_type: 'new' %>
  <br/>
  <aside>
    <%= link_to '<button>Back</button>'.html_safe, admin_lessons_path %>
  </aside>
</article>
