<footer>
  <div>
    <a href="#">Site Map</a>
    <a href="#">Feedback</a>
    <a href="#">About Us</a>
    <a href="#">Contact Us</a>
    <%= link_to "Log in", new_user_session_path%>
    <ul class="social">
      <li><a href="#" class="social-youtube" title="YouTube">YouTube</a></li>
      <li><a href="#" class="social-twitter" title="Twitter">Twitter</a></li>
      <li><a href="#" class="social-facebook" title="Facebook">Facebook</a></li>
    </ul>
  </div>
  <p>©2017 by Justice for Juniors. All rights reserved.</p>
</footer>
