<header>
  <a href="/" id="logo">Home</a>
  <div id="nav-block">
    <ul class="social">
      <li><a href="#" class="social-youtube" title="YouTube">YouTube</a></li>
      <li><a href="#" class="social-twitter" title="Twitter">Twitter</a></li>
      <li><a href="#" class="social-facebook" title="Facebook">Facebook</a></li>
    </ul>
    <div id="search-box">
      <input type="text" placeholder="Search Justice for Juniors" id="search-box-field" />
      <input type="submit" id="search-box-submit" />
    </div>
    <%= render 'shared/topnav' %>
  </div>
</header>
