<div id="calendar">
  <div id="calendar-controls">
    <%= button_to "Create New", new_admin_calendar_item_path, :method => "get"%>
  </div>

  <table id="calendar-month">
    <%= month_calendar events: @calendar_items do |date, calendar_items| %>
      <%= date.day %>
      <% calendar_items.each do |item| %>
        <div>
          <%= link_to item.title, [:admin, item] %>
        </div>
      <% end %>
    <% end %>
  </table>
</div>
