<div id="lesson-listing">
  <% if current_user.admin? || current_user.super_user? %>
    <%= link_to '<button><strong>+</strong> New Term</button>'.html_safe, new_admin_term_path %>
  <% end %>

  <table cols="4" id="lesson-listing-table">
    <tr>
      <th id="term-name">Term</th>
    </tr>
    <% @terms.each do |term| %>
      <tr>
        <td> <%= term.name%> </td>
        <% if current_user.admin? || current_user.super_user? %>
          <td><%= link_to 'Edit', edit_admin_term_path(term) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
